<profile>
	<baseProfile>iso19115</baseProfile>
	<name>Marine Profile</name>
	<root>mcp:MD_Metadata</root>
	<labelFile>labels.xml</labelFile>
	<profileSchema>
		<nsUri>http://bluenet3.antcrc.utas.edu.au/mcp</nsUri>
		<nsPrefix>mcp</nsPrefix>
		<schemaURL>http://bluenet3.antcrc.utas.edu.au/mcp/schema.xsd</schemaURL>
	</profileSchema>
	<adminModeOnly>true</adminModeOnly>
     <profileSchema>
		<nsUri>http://www.isotc211.org/2005/gco</nsUri>
		<nsPrefix>gco</nsPrefix>
	</profileSchema>
	<profileSchema>
		<nsUri>http://www.isotc211.org/2005/gfc</nsUri>
		<nsPrefix>gfc</nsPrefix>
	</profileSchema>
	<profileSchema>
		<nsUri>http://www.isotc211.org/2005/gmd</nsUri>
		<nsPrefix>gmd</nsPrefix>
		</profileSchema>
	<profileSchema>
		<nsUri>http://www.isotc211.org/2005/gmi</nsUri>
		<nsPrefix>gmi</nsPrefix>
	</profileSchema>
	<profileSchema>
		<nsUri>http://www.opengis.net/gml</nsUri>
		<nsPrefix>gml</nsPrefix>
	</profileSchema>
	<profileSchema>
		<nsUri>http://www.isotc211.org/2005/gmx</nsUri>
		<nsPrefix>gmx</nsPrefix>
	</profileSchema>
	<profileSchema>
		<nsUri>http://www.isotc211.org/2005/gsr</nsUri>
		<nsPrefix>gsr</nsPrefix>
	</profileSchema>
	<profileSchema>
		<nsUri>http://www.isotc211.org/2005/gss</nsUri>
		<nsPrefix>gss</nsPrefix>
	</profileSchema>
	<profileSchema>
		<nsUri>http://www.isotc211.org/2005/gts</nsUri>
		<nsPrefix>gts</nsPrefix>
	</profileSchema>
	<profileSchema>
		<nsUri>http://www.isotc211.org/2005/srv</nsUri>
		<nsPrefix>srv</nsPrefix>
	</profileSchema>
	<profileSchema>
		<nsUri>http://www.w3.org/1999/xlink</nsUri>
		<nsPrefix>xlink</nsPrefix>
	</profileSchema>
</profile>