<profile>
	<baseProfile>iso19115</baseProfile>
	<name>ANZLIC Profile</name>
	<schematron>validation/ANZLIC_ISO_ConformanceRules.sch</schematron>
	<schematron>validation/OSDMScheduleCheck.sch</schematron>
	<previewTemplate>preview.xsl</previewTemplate>
	<codeListCatalog>
		<url>http://asdd.ga.gov.au/asdd/profileinfo/anzlic-allgens.xml</url>
		<file>codelists/anzlic-allgens.xml</file>
	</codeListCatalog>
	<codeListCatalog>
		<url>http://asdd.ga.gov.au/asdd/profileinfo/anzlic-gmxCrs.xml</url>
		<file>codelists/anzlic-gmxCrs.xml</file>
	</codeListCatalog>
	<codeListCatalog>
		<url>http://asdd.ga.gov.au/asdd/profileinfo/anzlic-jurisdic.xml</url>
		<file>codelists/anzlic-jurisdic.xml</file>
	</codeListCatalog>
	<codeListCatalog>
		<url>http://asdd.ga.gov.au/asdd/profileinfo/anzlic-theme.xml</url>
		<file>codelists/anzlic-theme.xml</file>
	</codeListCatalog>
	<codeListCatalog>
		<url>http://asdd.ga.gov.au/asdd/profileinfo/GAScopeCodeList.xml</url>
		<file>codelists/GAScopeCodeList.xml</file>
	</codeListCatalog>
	<codeListCatalog>
		<url>http://asdd.ga.gov.au/asdd/profileinfo/osdm-schedule.xml</url>
		<file>codelists/osdm-schedule.xml</file>
	</codeListCatalog>
	<codeListCatalog>
		<url>http://asdd.ga.gov.au/asdd/profileinfo/australianClassificationCode.xml
		</url>
		<file>codelists/australianClassificationCode.xml</file>
	</codeListCatalog>
	<codeListCatalog>
		<url>http://asdd.ga.gov.au/asdd/profileinfo/gmxUom.xml</url>
		<file>codelists/gmxUom.xml</file>
	</codeListCatalog>
	<codeListCatalog>
		<url>http://asdd.ga.gov.au/asdd/profileinfo/gmxCodelists.xml</url>
		<file>codelists/gmxCodelists.xml</file>
	</codeListCatalog>
	<codeListCatalog>
		<url>http://asdd.ga.gov.au/asdd/profileinfo/anzlic-country.xml</url>
		<file>codelists/anzlic-country.xml</file>
	</codeListCatalog>
	<codeListCatalog>
		<url>http://xmet/testResults.xmettextcodelist</url>
		<file>codelists/testResults.xmettextcodelist</file>
	</codeListCatalog>
	<uuidPath>/gmd:MD_Metadata@uuid</uuidPath>
	<uuidPath>/gmd:MD_Metadata/gmd:fileIdentifier/gco:CharacterString</uuidPath>
</profile>
